.jumbotron
  %h1
    About the Homework Checker
  %h3
    This app was designed in mind for The Iron Yard students to let the teachers know if their homework had been completed. It also leaves a spot to ask for help or leave comments on the assignment.
    %h3= link_to "If you want to see the code.", 'https://github.com/andrewhouse/TIY-Homework-Checker'
  %a{class: 'btn btn-primary btn-lg', role: 'button', href: homeworks_path}
    To The Homework!
