.jumbotron
  %h1
    Contact Us
  %h3
    The best way to contact anyone is through HipChat. I am @AndrewHouse, you can also ask @JamesDabbs.
  %p
    %a{class: 'btn btn-primary btn-lg', role: 'button', href: homeworks_path}
      To The Homework!
