%h1 All Assignments

%table.table.table-striped
  %thead
    %tr
      %th Date
      %th Description
      %th Destroy Assignment

  %tbody
    - @assignments.sort_by{ |a| a.date }.each do |assignment|
      %tr
        %td
          = link_to assignment.date, edit_assignment_path(assignment)
        %td
          = link_to assignment.description, edit_assignment_path(assignment)
        %td= link_to 'Destroy', assignment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

%button.btn.btn-info= link_to 'New Assignment', new_assignment_path
