.comment-container
  -@comments.each do |comment|
    .comment
      .fl.ass= image_tag(comment.user.gravatar_url, size: '150', class: 'avatar', title: comment.user.name)
      .text= markdown comment.body
