!!! 5
%html(lang="en"){"ng-app" => ''}
  =render '/layouts/head'
  %body
    = render '/layouts/navbar'
    .container-fluid
      .span12{"ng-init" => ''}
        = bootstrap_flash
        = yield

        %footer
          %p &copy; Andrew House - The Iron Yard 2014
