!!! 5
%html(lang="en")
  = render '/layouts/head'
  %body
    = render '/layouts/navbar'
    .container
      / FIXME: = bootstrap_flash
      = yield

      %footer
        %p &copy; Andrew House - The Iron Yard 2014
