!!! 5
%html(lang="en")
  =render '/layouts/head'
  %body
    = render '/layouts/navbar'
    .container-fluid
      .span12
        / FIXME: = bootstrap_flash
        = yield

        %footer
          %p &copy; Andrew House - The Iron Yard 2014
